@import "tailwindcss";

@theme inline {
  --color-fluxiqo: #b400ff;
  --color-fluxiqo-light: #d666ff;
  --color-fluxiqo-dark: #6a0099;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
